<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>
 
    {{{body}}}
    <form action="/submit" method="post">
        <label for="name">Insert item to add to the list:</label><br>
        <input type="text" id="name" name="name">
        <input type="submit" value="Add Item">
    </form>

</body>
</html>